* {
  box-sizing: border-box;
}

.image img {
  width: 100%;
  height: 100%;
  transition: all 0.5s
}

.card:hover .image img {
  transform: scale(1.05)
}

.btn-backgroud {
  height: 18rem;
  width: 18rem;
  cursor: default !important
}

.arroba {
  font-size: 20px;
  font-weight: bold
}


.text span {
  font-size: 20px;
  color: #545454;
  font-weight: 500
}

.icons i {
  font-size: 29px
}


.tooltipCustom {
  position: relative;
  display: inline-block;
}

.tooltipCustom .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  
  bottom: 110%;
  left: 50%;
  margin-left: -60px; 
}

.tooltipCustom:hover .tooltiptext {
  visibility: visible;
}

.float-btn{
  position:fixed;
  width:62px;
  height:62px;
  bottom:25px;
  right:35px;
  background:#181a19;
  border-radius:50px;
  border: none;
  box-shadow: 0px 1px 10px rgba(0,0,0,1);
  z-index:100;
  transition: all 300ms ease;
}